@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s ease-out;
}
a {
  text-decoration: none;
}
i {
  cursor: pointer;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(60, 144, 192);
  font-size: 1.2rem;
  background-color: rgb(252, 209, 209);
  box-shadow: 0rem 0.3rem 0.3rem 0 rgba(59, 94, 87, 0.2);
  height: 5rem;
}
.nav h3 {
  font-size: 2rem;
  font-weight: bold;
}
.nav i {
  font-size: 2rem;
}
.head {
  width: 100%;
  padding-left: 5rem;
  margin: 1rem 0;
}
.head h3 {
  font-size: 2rem;
  font-weight: bold;
}
.body h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 5rem;
}
.body form {
  padding: 5rem 30%;
}
.body form button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
